.about {
    background: $dark1;
    .wrapper {
        padding: 50px 0 100px 0;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 30%;
        padding: 30px;
        &__img {
            margin: 0 auto;
            display: block;
        }
    }
}