.footer {
    background: $white-bg;
    @media (max-width: 730px) {
        background: #fff;
    }
    &__nugget-line {
        .wrapper {
            display: flex;
            padding: 20px 0;
            justify-content: space-between;
            @media (max-width: 730px) {
                flex-flow: column wrap;
            }
        }
    }
    &__nugget {
        width: 24%;
        .paragraph {
            text-align: left;
        }
        @media (max-width: 730px) {
            width: 100%;
        }
        &__form {
            &__input {
                width: 50%;
                padding: 20px 0;
                &--btn {
                    background: transparent;
                    border-color: #343434;
                    color: #343434;
                    &:hover {
                        color: $red1;
                        border-color: $red1;
                    }
                }
            }
        }
        &__img {
            width: 100%;
        }
    }
    &__small-nugget {
        display: block;
        clear: both;
        margin: 10px 0;
        &__img {
            float: left;
            margin-right: 5px;
        }
        &__header-4 {
            font-family: 'Raleway', sans-serif;
            color: #242424;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            text-align: left;
            text-transform: none;
            &:hover {
                color: $red1;
            }
        }
        &__header-5 {
            font-family: 'Raleway', sans-serif;
            color: #989898;
            font-size: 12px;
            font-weight: 300;
            line-height: 14px;
            margin: 5px 0 0 65px;
        }
    }
    &__bottom {
        background: $dark2;
        &__paragraph {
            font-size: 13px;
            line-height: 65px;
            width: 90%;
            &--link {
                color: white;
                &:hover {
                    color: $red1;
                }
            }
        }
    }
}