/*Skills section plus Quote*/

.skills {
    background: $dark2;
    .wrapper {
        padding: 50px 0;
    }
    &__nugget-line {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @media (max-width: 650px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__nugget {
        width: 21%;
        @media (max-width: 650px) {
            width: 80%;
            max-width: 300px;
            margin: 30px;
        }
        &__img {
            margin: 0 auto;
            display: block;
        }
    }
}

.quote {
    background: $red-bg;
    @media (max-width: 600px) {
        background: $red1;
    }
    padding: 100px 0;
    position: relative;
    @media (max-width: 1024px) {
        padding: 50px 0;
    }
    @media (max-width: 600px) {
        background: $red1;
    }
    &__header-3 {
        width: 45%;
        margin: 30px auto;
        color: #343434;
        font-size: 60px;
        line-height: 55px;
        display: block;
        position: relative;
        @media (max-width: 650px) {
            font-size: 30px;
            line-height: 25px;
        }
        &::before,
        &::after {
            font-size: 140px;
            line-height: 140px;
            color: #fff;
            position: absolute;
        }
        &::before {
            content: '“';
            top: -40px;
            left: -15%;
            @media (max-width: 650px) {
                left: -40%;
            }
        }
        &::after {
            content: '”';
            top: -40px;
            right: -15%;
            @media (max-width: 650px) {
                right: -40%;
            }
        }
    }
    &__header-4 {
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 55px;
        text-transform: none;
        @media (max-width: 650px) {
            font-size: 20px;
        }
    }
}